<html>
    <head>
        <title>A.J. Cho</title>
    </head>
    <body>
        <div>
	    <p>published: July.2017</p>
            <h1><a href="">A.J. Cho's Home Page</a></h1>
            <p>This site is bulit under python, django, sqlite3, CSS, virtual, github, and pythonanywehere environments</p>
        </div>

        <div>
            <p>published: July.2017</p>
            <h2><a href="">Economics, Finance, and Statistics Theoy</a></h2>
            <p>I'm interested in Banking, Finance, and Computer Programming</p>
        </div>

        <div>
            <p>published: July.2017</p>
            <h2><a href="">Economics and Finance with python computing</a></h2>
            <p>I'm interested in Banking, Finance, and Computer</p>
        </div>

    </body>
</html>